
<hr />
<h5>On The Internet</h5>

<ul class="list-unstyled">
    <li><a href="https://twitter.com/GlennCoder"><i class="fab fa-twitter"></i> Twitter <small>(glenncoder)</small></a></li>
    <li><a href="https://github.com/glennawatson"><i class="fab fa-github"></i> GitHub <small>(glennawatson)</small></a></li>
    <li><a href="http://stackoverflow.com/users/3167364/glenn-watson"><i class="fab fa-stack-overflow"></i> Stack Overflow <small>(glenn-watson)</small></a></li>
    <li><a href="https://www.linkedin.com/in/glennawatson/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
</ul>