<ul class="list-unstyled">
    <li><a href="https://twitter.com/GlennCoder"><i class="fa fa-twitter"></i> Twitter (glenncoder)</a></li>
    <li><a href="https://github.com/glennawatson"><i class="fa fa-github"></i> GitHub (glennawatson)</a></li>
    <li><a href="https://stackoverflow.com/users/3167364/glenn-watson"><i class="fa fa-stack-overflow"></i> Stack Overflow (glenn-watson)</a></li>
</ul>