Title: About Me
---

<p>Hello, my name is Glenn Watson.</p>
<p>I am currently running my own company. I am a Microsoft MVP in developer technologies and lead maintainer of the ReactiveUI project.</p>
<p>I contribute to and manage various open source projects around the internet.</p>
