Title: About Me
---

<p>Hello, my name is Glenn Watson.</p>
<p>I am currently the Software Engineer at a large corporate working on cloud based technologies.</p>
<p>I contribute to and manage various open source projects around the internet.</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")